/* @import '~bulma/bulma'; */

.landregsystemtext {
  margin-top: 20%;
  color: white;
  margin-left: 5%;
  font-size: 50px;
  padding: 5%
}

.image {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -5;
  opacity: 0.8;
}

.imageBlock {
  position: fixed;
  height: 300px;
  width: 200px;
  overflow: hidden;
  z-index: -1;
  border-radius: 8%;
}

.landregcard {
  border-radius: 25px;
  background: #123266;
  width: 400px;
  height: 270px;
  margin-top: 15%;
  margin-left: 20%;
}

.getstartedcard {
  border-radius: 25px;
  background: lightblue;
  width: 250px;
  height: 60px;
  margin-top: 2%;
  margin-left: 24%;
}

.getstartedtext {
  margin-top: 20%;
  color: white;
  margin-left: 5%;
  font-size: 30px;
  padding-left: 16%;
  padding-top: 4%;
}

.descripcard {
  border-radius: 25px;
  background: #f5efdc;
  width: 350px;
  height: 400px;
  margin-top: 2%;
  margin-left: 24%;
}

.descriptext {
  margin-top: 20%;
  color: black;
  margin-left: 5%;
  font-size: 20px;
  /* padding-left: 16%; */
  padding-right: 3%;
  padding-top: 4%;
}

.connectedAddressCard {
  border-radius: 25px;
  background: #f5efdc;
  width: 610px;
  height: 40px;
  margin-top: 2%;
}

.connectedAddressText {
  color: black;
  margin-left: 5%;
  font-size: 20px;
  padding-top: 0.5%;
}